[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
qt-material = "*"
context-menu = "*"
winotify = "*"
pyqt5custom = "*"

[dev-packages]

[requires]
python_version = "3.9"
