[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
qt-material = "*"
context-menu = "*"
windows-toasts = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
